{% extends "main/base.html" %}

{% block content %}
  <blockquote class="blockquote text-center">
  <h1 style="margin-top:10px">APS 2021/2 - SISTEMA DE IDENTIFICAÇÃO E AUTENTICAÇÃO BIOMÉTRICA </h1>
  <p>Nosso sistema de biometria é feito por Reconhecimento Facial, planejado para ser de forma rápida e sem o uso de senhas.</p>
  <p>Para o sistema funcionar, é preciso ter uma câmera ou webcam conectada no computador, o sistema não foi planejado para uso mobile.</p>
  <p>Apos o registro ou login, o usuário se depará com suas informações: Nome, Email e cargo. O cargo é dividido em: Dono, Admin, Usuário</p>
  <p>Sendo Owner o dono do sistema, Admin o responsável por manuntenção e gerenciamento e o User sendo o usuário final.</p>
  </blockquote>
{% endblock %}